{% extends 'base.html' %}
{% block content %}
{% load static %}

  {% load humanize %}


  <div id="wrapper">
    <div class="normalheader ">

      <div class="hpanel">
        <div class="panel-body">
          <a class="small-header-action" href="#">
            <div class="clip-header">
              <i class="fa fa-arrow-up"></i>
            </div>
          </a>

          <h2 class="font-light m-b-xs">{{ user.username }}'s Portfolio's </h2>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <img src="{% static 'images/My-Financial-Strategy-PPT-nr-2.png' %}" style="width:100%" alt="">
            </div>
            <div class="col-md-2">.</div>


          </div>
<br>
          <div class="text-center">
            <a href="{% url 'create_portfolio'%}" class="btn btn-primary">Create a new Portfolio</a>
          </div>
        </div>
      </div>
      <br>

<div class="content">

        <div class="row projects">

          {% for item in ports %}
          <div class="col-lg-6">
            <div class="hpanel hgreen">
              <div class="panel-body no-shadow th-border">
                <div class="row">
                  <div class="col-sm-7">
                    <h4><a href="{% url 'detail_portfolio' item.id %}">{{ item.title }}</a></h4>
                    <p> {{ item.description }}</p>


                  </div>

                  <div class="col-sm-5 project-info-center">
                    <div class="project-action m-t-md">

                      <div class="btn-group">

                        <!-- <a href="{% url 'update_portfolio' item.id %}" class="btn btn-xs btn-default"> Edit</a>
                        <a href="{% url 'delete_portfolio' item.id %}" class="btn btn-xs btn-default"> Delete</a> -->
                        <a href="{% url 'add_stock' item.id %}" class="btn btn-xs btn-default"> Add Stock</a>
                        <a href="{% url 'detail' item.id %}" class="btn btn-xs btn-default"> Analysis</a>
                      </div>
                    </div>
                    <br>
                    <div class="project-value">
                      <div class="stats-icon text-success">
                        <span class="category-{{ item.type }}">
                                <!-- <i class="pe-7s-graph1 text-info fa-4x"></i> -->
                            </div>

                      <h2 class="text-success">
                      </h2>
                    </div>
                  </div>
                </div>
              </div>

            </div>
<br>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    </div>

  {% endblock %}
