{% extends 'base_home.html' %}
{% block content %}
{% load static %}
<br>
<section id="home" class="video-hero" style="height: 700px; background-image: url(images/cover_img_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
<div class="overlay"></div>
  <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=vqqt5p0q-eU',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
  <div class="display-t text-center">
    <div class="display-tc">
      <div class="container">
        <div class="col-md-12 col-md-offset-0">
          <div class="animate-box">
            <h2>Track how your investments are performing</h2>
            <p>PYFI allows you to create various portfolio's and see how <br>they've performed over time against the SP500.</p>
          {% if user.is_authenticated %}
            <p> <a href="{% url 'create_portfolio'%}" class="btn btn-primary">Create a new Portfolio</a></p> 
          {% else %}
            <p><a href="{% url 'signup' %}" class="btn btn-primary btn-lg btn-custom">Sign up</a></p>
          {% endif %}
            <p class="text-center">It's free</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="colorlib-featured">
  <div class="row animate-box">
    <div class="featured-wrap">
      <div class="owl-carousel">
        <div class="item">
          <div class="col-md-8 col-md-offset-2">
            <div class="featured-entry">
              <img class="img-responsive" src="{% static 'home/images/pyfi_portfolio.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="col-md-8 col-md-offset-2">
            <div class="featured-entry">
              <img class="img-responsive" src="{% static 'home/images/pyfi_ataglace.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="col-md-8 col-md-offset-2">
            <div class="featured-entry">
              <img class="img-responsive" src="{% static 'home/images/pyfi_breakdown.png' %}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="colorlib-services colorlib-bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-browser"></i>
          </span>
          <div class="desc">
            <h3>Create your own Portfolio's</h3>
            <p>Quickly create a portfolio index for your investments (stocks, mutual funds, bonds, etc.).</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center animate-box">
        <div class="services">
          <!-- <span class="icon">
            <i class="icon-download"></i>
          </span> -->
            <span class="icon"><i class="icon-lightbulb"></i></span>

          <div class="desc">
            <h3>Advanced Analysis</h3>
            <p>Compare your portfolio against the SP 500 benchmark and answer the questions - whould I have been better off just
            investing in an index find?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center animate-box">
        <div class="services">
          <span class="icon">
            <i class="icon-lock"></i>
          </span>
          <div class="desc">
            <h3>Secure</h3>
            <p>PyFi doesn't ask for your account numbers or any personally identifable information. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="colorlib-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
        <h2>Stay on top of your investments</h2>
        <p>Leverage powerful analyis Techniques to ensure your getting paid for the risks your taking with your investments.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 animate-box">
        <span class="play"><a href="https://vimeo.com/channels/staffpicks/93951774" class="pulse popup-vimeo"><i class="icon-play3"></i></a></span>
      </div>
    </div>
  </div>
</div>






{% endblock %}
