{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div id="wrapper">
    <div class="normalheader transition">
  <h2>Edit your Stock</h2>
  <form method="post">
      {% csrf_token%}
      {% load widget_tweaks %}
      {% for field in form %}
      <div class="form-group {%if field.errors %} alert alert-danger{% endif%}">
        {{ field.errors}}
        {{ field.label_tag}}
        {% render_field field class="form-control" %}
      </div>
      {% endfor %}
    <button type="submit"  class="btn btn-primary">Update</button>

  </form>
  <br>
  <a href="{% url 'delete_stock' stock.id %}" class="btn btn-danger">Delete this Stock</a>
</div>
</div>
</div>


{% endblock %}
